@import "tailwindcss";

@theme {
    --color-accent: #DC2626;
    --color-success: #16A34A;
    --color-warning: #F59E0B;
    --color-info: #2563EB;

    --color-brand-red: #DC2626;
    --color-brand-black: #000000;
}

@layer base {
    body {
        background-color: #f9fafb;
        /* gray-50 */
        color: #111827;
        /* gray-900 */
    }
}